.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 101px;
  height: 32px;
  background-color: #bc89f3;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 20px auto 0;
}