body {
  font-family: 'Zen Maru Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #1a1515;
}
a {
  text-decoration: none;
  color: #1a1515;
}
a:hover {
  opacity: 0.7;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app {
  background-color: #dfcbed;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #1a1515;
}
.nav {
  display: none
}


@media (min-width: 960px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

  }
  .nav__item{
      font-size: 16px;
      margin-right: 50px;
  }
  .nav__item:hover{
      opacity: 0.5;
  }
  .nav__item:last-child{
      margin-right: 0;
  }
}
